/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do Cabeçalho */
header {
    position: sticky !important;
    background-color: #333;
    color: #fff;
    padding: 20px 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 100;
}

header img {
    max-width: 120px;
    position: relative;
    left: 25px;
}

header h2 {
    position: relative;
    right: 35px;
}

/* Estilos da Navegação */
nav {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #c0c0c0;
}

/* Estilos do Conteúdo Principal */
main {
    padding: 20px 150px;
}

section {
    margin-bottom: 40px;
}

#home {
    text-align: center;
}

#home {
    text-align: center;
    padding: 35px 0;    
}

#home h1 {
    font-size: 36px;
    color: #333333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#home p {
    font-size: 24px;
    color: #666666;
    line-height: 1.5;
}

#quem-somos {
    text-align: justify;
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 5px;
}

#quem-somos h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

#quem-somos p {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
}

.carros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carro {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.carro:hover {
    transform: translateY(-5px);
}

.carro img {
    width: 100%;
    height: auto;
}

.pecas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.peca {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.peca:hover {
    transform: translateY(-5px);
}

.peca img {
    width: 100%;
    height: auto;
}

.servico {
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    margin: 15px;
    border-radius: 5px;
}

.servico img {
    margin: 10px;
    width: 25%;
    padding: 6px;
    border-radius: 3px;
    background-color: #c0c0c0;
} 

.servico-content {
    margin: 50px;
    width: 60%;
}

.servico-content h2 {
    font-weight: 700;
}


/* Estilos do Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    .carro,
    .peca {
        width: 48%;
    }
}

@media screen and (max-width: 480px) {
    .carro,
    .peca {
        width: 100%;
    }
}
/* Estilos do Formulário de Contato */
section#contato {
    background-color: #f8f8f8;
    padding: 20px;
}

section#contato h2 {
    margin-bottom: 20px;
}

section#contato form {
    display: grid;
    grid-gap: 10px;
}

section#contato label {
    font-weight: bold;
}

section#contato input[type="text"],
section#contato input[type="email"],
section#contato textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section#contato input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section#contato input[type="submit"]:hover {
    background-color: #555;
}
